<% @products.each do |product| %>
  <%= render partial: "product", locals: {product: product} %>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $(".js-more").on('click', function() {
      // get the id from the data attribute
      let id = $(this).data("id");
      $.get("/products/" + id + "/description", function(description) {
        $.get("/products/" + id + "/inventory", function(inventory) {
          let inventoryStatus = "<strong>Sold Out</strong>"
          if (inventory === "true") {
            inventoryStatus = "<strong>Available</strong>"
          }
          let resultData = "<p>" + description + "</p><p>" + inventoryStatus + "</p>"
          $("#body-"+ id).html(resultData);
        });
      });
    });
  });
</script>
